/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #ECD6AC !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 150%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}
/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
.me-auto{
  padding-left: 150px !important;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #ffffff;
}
nav.navbar a.navbar-brand {
    width: 9%;
}

nav.navbar .navbar-nav a.navbar-link.navbar-link {
  font-weight: 400;
  color: #B02F77 !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none ;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: inline-block;
    margin-left: 14px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: #B02F77;
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid #B02F77;
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.hyperlink-txt a{
  color: #ffffff !important;
  text-decoration: none;
}

.hyperlink-txt a:hover{
  color: #B02F77 !important;
  text-decoration: none;
}

#loginbtn{
  font-weight: 400;
  color: #B02F77 !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none ;
}
.navbar-text button {
  font-weight: 700;
  color: #B02F77;
  border: 1px solid #B02F77;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./assets/img/helpinghands-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(124, 122, 122, 0.5) -5.91%, rgba(5, 3, 13, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-top: 0px;
  display: block;
}
.banner button {
  font-weight: 700;
  color: #B02F77;
  border: 1px solid #B02F77;
  padding: 18px 34px;
  font-size: 20px;
  margin: 0px 0 550px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.banner button span {
  z-index: 1;
}
.banner button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.banner button:hover {
  color: #121212;
  background-color: #fff;
}
.banner button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/************ About us Css ************/

.about {
  margin-top: 0;
  padding: 0 0 100px 0;
  background-color: #fff;
}
.about-bx {
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: 160px;
}
.about h2 {
	font-size: 45px;
	font-weight: 700;
  color: #535353;
}
.about img {
  width: 50%;
}
.about-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #6d6d6d -5.91%, #090619 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.about-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}
.about-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #6d6d6d -5.91%, #090619 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 50%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.about-imgbx:hover::before {
  height: 100%;
}
.about-imgbx:hover .about-txtx {
  top: 50%;
  opacity: 1;
}
.about-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
  color: #535353;
}
.about-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.about-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
  color: #535353;
}

.about p {
    color: #535353;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
.about-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.about-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}
.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}
/************ Donationfeed Css ************/
.donation {
  margin-top: 0;
  padding: 0 0 0 0;
  background-color: #fff;
  padding-bottom: 200px !important;
}
.donation h2 {
  font-size: 45px;
  font-weight: 700;
  color: #535353;
}
.donation p {
  color: #535353;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 10px 0;
}

.donation-bx {
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: 160px;
}
.dontation-container{
  background-color: 'blue'!important;
  width:'100px';
  height: '100px';
}
.item{
  border-radius: 64px;
  border-color: #B02F77 !important ;
}
.donation img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.card-body{
  background-color: #ebebeb;
}
.donation-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #6d6d6d -5.91%, #090619 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.donation-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}
.donation-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #6d6d6d -5.91%, #090619 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 25%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.donation-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.donation-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.donation-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
.donation-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.donation-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}
.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}
.card-title{
  color: #535353 !important;
}


/************ signupform Css ************/
.signup {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./assets/img/helpinghands-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.signup img {
  width: 92%;
}
.signup h2 {
  font-size: 45px;
	font-weight: 700;
  margin-bottom: 10px;
}
.signup p {
  color: #ffffff;
  font-size: 19px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 20px 0;
}
.signup form input, .signup form textarea {
  width: 100%;
  background: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.signup form input:focus, .signup form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.signup form input::placeholder, .signup form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #535353;
}
.signup form input:focus::placeholder, .signup form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.signup form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin: 25px 0 500px 0;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.signup form button span {
  z-index: 1;
  position: relative;
}
.signup form button:hover {
  color: #fff;
}
.signup form button::before {
  content: "";
  background: #B02F77;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.signup form button:hover::before {
  width: 100%;
}
/************ signupform Css ************/
.login {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./assets/img/helpinghands-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.login img {
  width: 92%;
}
.login h2 {
  font-size: 45px;
	font-weight: 700;
  margin-bottom: 10px;
}
.login p {
  color: #ffffff;
  font-size: 19px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 20px 0;
}
.login form input, .login form textarea {
  width: 100%;
  background: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.login form input:focus, .login form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.login form input::placeholder, .login form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #535353;
}
.login form input:focus::placeholder, .login form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.login form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin: 25px 0 500px 0;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.login form button span {
  z-index: 1;
  position: relative;
}
.login form button:hover {
  color: #fff;
}
.login form button::before {
  content: "";
  background: #B02F77;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.login form button:hover::before {
  width: 100%;
}
.hyperlink-txt{
  margin-top: 0px!important;
  font-size: 16px !important;
}
/************ contact Css ************/
.contact {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./assets/img/helpinghands-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contact img {
  width: 92%;
}
.contact h2 {
  font-size: 45px;
	font-weight: 700;
  margin-bottom: 10px;
}
.contact p {
  color: #ffffff;
  font-size: 19px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 20px 0;
}
.contact form input, .contact form textarea {
  width: 100%;
  background: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #535353;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin: 25px 0 500px 0;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: #B02F77;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}

/************ DashboardCss ************/
.dashboard {
  margin-top: 0;
  padding: 0 0 0 0;
  background-color: #fff;
  padding-bottom: 200px !important;
}
.dashboard h2 {
  font-size: 45px;
  font-weight: 700;
  color: #535353;
}
.dashboard h4 {
  font-weight: 450;
  color: #535353;
  margin: 60px 0px -10px;
  text-align: left;
}
.dashboard p {
  color: #535353;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 10px 0;
}

.dashboard-bx {
  border-radius: 64px;
  text-align: center;
  padding: 60px 00px;
  margin-top: 160px;
}
.dashboard-bx2 {
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: 0px;
}
.dontation-container{
  background-color: 'blue'!important;
  width:'100px';
  height: '100px';
}
.item{
  border-radius: 64px;
  border-color: #B02F77 !important ;
}
.dashboard img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.card-body{
  background-color: #ebebeb;
}
.dashboard-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #6d6d6d -5.91%, #090619 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.dashboard-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
}
.dashboard-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #6d6d6d -5.91%, #090619 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 25%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.dashboard-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.dashboard-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.dashboard-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
.dashboard-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.dashboard-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}
.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}
.card-title{
  color: #535353 !important;
}

/************ Usercontact Css ************/
#userNav.scrolled {
  padding: 0px 0;
  background-color: #ffffff;
}
#userNav {
  padding: 0px 0;
  background-color: #ffffff;
}
.inputForm2{
  background-color: #fffFFF;
  width: 75%;
  padding-right: calc(var(--bs-gutter-x) * 2.5) !important;
  padding-left: calc(var(--bs-gutter-x) * 2.5) !important;
}
.userContact {
  margin-top: 0;
  padding: 200px 0 100px 0;
  background-color: #ebebeb;
  padding-bottom: 200px !important;
}

.userContact h2 {
  color: #535353;
  font-size: 45px;
	font-weight: 700;
  margin-bottom: 10px;
}
.userContact p {
  color: #535353;
  font-size: 19px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 20px 0;
}
.userContact form input, .userContact form textarea {
  width: 100%;
  background: #fff;
  border: 1px solid #535353;
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.userContact form input:focus, .userContact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.userContact form input::placeholder, .userContact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #535353;
}
.userContact form input:focus::placeholder, .userContact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.userContact form button {
  font-weight: 700;
  color: #ffffff;
  background-color: #B02F77;
  padding: 14px 48px;
  font-size: 18px;
  margin: 25px 0 500px 0;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.userContact form button span {
  z-index: 1;
  position: relative;
}
.userContact form button:hover {
  color: #fff;
}
.userContact form button::before {
  content: "";
  background: #000000;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.userContact form button:hover::before {
  width: 100%;
}


/************ Donation Form Css ************/

.inputForm{
  background-color: #fffFFF;
  width: 75%;
  padding-right: calc(var(--bs-gutter-x) * 2.5) !important;
  padding-left: calc(var(--bs-gutter-x) * 2.5) !important;
}

.donationForm {
  margin-top: 0;
  padding: 200px 0 100px 0;
  background-color: #ebebeb;
  padding-bottom: 200px !important;
}
.donationForm img {
  width: 92%;
}
.donationForm h2 {
  color: #535353;
  font-size: 45px;
	font-weight: 700;
  margin-bottom: 10px;
  margin-top: 30px;
}
.donationForm p {
  color: #535353;
  font-size: 19px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 20px 0;
}
.donationForm form input, .donationForm form textarea {
  width: 100%;
  background: #fff;
  border: 1px solid #535353;
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
#imageUpload{
  border: transparent;
}
.donationForm form input:focus, .donationForm form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.donationForm form input::placeholder, .donationForm form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #535353;
}
.donationForm form input:focus::placeholder, .donationForm form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.donationForm form button {
  font-weight: 700;
  color: #ffffff;
  background-color: #B02F77;
  padding: 14px 48px;
  font-size: 18px;
  margin: 25px 0 70px 0;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.donationForm form button span {
  z-index: 1;
  position: relative;
}
.donationForm form button:hover {
  color: #fff;
}
.donationForm form button::before {
  content: "";
  background: #000000;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.donationForm form button:hover::before {
  width: 100%;
}

/************ Footer Css ************/
.footer {
  padding: 10px 0 15px 0;
  background-color: black;
  background-size: cover;
}

.footer img {
  width: 26%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}
